'*':
  'core':
    'projectHome': '/Users/mfauveau/Documents/Devel'
  'editor':
    'fontFamily': 'Ubuntu Mono'
    'lineHeight': 1.4
    'showIndentGuide': true
    'tabLength': 4
    'softWrap': true
    'scrollPastEnd': true
    'invisibles': {
        'cr': '↩'
        'eol': ''
        'space': '·'
        'tab': '⇥'
    }
    'zoomFontWhenCtrlScrolling': true
    'showInvisibles': true
  'exception-reporting':
    'userId': '7b88acbb-724c-92f5-c1b3-32cc094e36b8'
  'welcome':
    'showOnStartup': false
