"*":
  "tabs-to-spaces":
    onSave: "untabify"
  core:
    projectHome: "/Users/mfauveau/Documents/Devel"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
    disabledPackages: [
      "linter-python-pep8"
      "language-blade"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    lineHeight: 1.4
    showIndentGuide: true
    tabLength: 4
    softWrap: true
    scrollPastEnd: true
    invisibles:
      spaces: "."
    zoomFontWhenCtrlScrolling: true
    softTabs: false
    showInvisibles: true
  "exception-reporting":
    userId: "7b88acbb-724c-92f5-c1b3-32cc094e36b8"
  welcome:
    showOnStartup: false
  docblockr:
    spacer_between_sections: true
    simple_mode: false
  "tree-view":
    hideVcsIgnoredFiles: true
  "fuzzy-finder": {}
  linter:
    subtleLinterErrors: [
      "pep8"
    ]
  minimap:
    plugins:
      "git-diff": true
  "atom-beautify":
    beautifyEntireFileOnSave: false
    php_cs_fixer_path: "~/.composer/vendor/bin/php-cs-fixer"
    _analyticsUserId: "d7c2bb3b-c00d-4ed6-a911-d217135659e3"
    python_autopep8_path: "/usr/local/bin/autopep8"
".js.source":
  "tabs-to-spaces":
    onSave: "none"
"linter-php":
  phpExecutablePath: "/usr/bin/php"
